/* *{
    margin: 0px;
    padding: 0px;
} */

.portfolioContainer{
    display: flex
}

.portfolioText{
    width: 50%;
}

.portfolioImage{
    width: 50%;
}

.portfolioEntry {
    text-align: center;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #c8cbda;
    width: fit-content;
    border-radius: 5px;
}

.topBannerText
{
    width: 50%;
    margin: auto;
    padding: 15px;
    color: #ffffff
}

.mainCentre{
    width: 50%;
    margin: auto; 
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.socialBar{

}

.social{
    max-width: 64px;
    padding: 5px;
}

a{
    text-decoration: none;
}

body{
    padding: 0px;
    margin: 0px;
}

.topBanner{
    background-color: #26264E;
}

h1, h2, h3, h4, h5, h6, p{
    /* margin: 0px;
    padding: 0px; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}



ul{
    margin-top: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.ulCentre{
    margin-top: 0px;
    padding-left: 0px;
    text-align: center;
    list-style-position: inside;
}