/* *{
    margin: 0px;
    padding: 0px;
} */

.entryContainer{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.portfolioEntry {
    padding: 10px;
    background-color: #c8cbda;
    border-radius: 5px;
    width: 30%;
    flex-direction: row;
    margin: 10px;
}

.portfolioEntry iframe{
    width: 100%;
}

.portfolioEntry img{
    max-width: 100%;
}

.topBannerText
{
    width: 50%;
    margin: auto;
    padding: 15px;
    color: #ffffff
}

.mainCentre{
    width: 50%;
    margin: auto; 
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.socialBar{

}

.social{
    max-width: 64px;
    padding: 5px;
}

a{
    text-decoration: none;
}

body{
    padding: 0px;
    margin: 0px;
}

.topBanner{
    background-color: #26264E;
}

h1, h2, h3, h4, h5, h6, p, strong{
    /* margin: 0px;
    padding: 0px; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}



ul{
    margin-top: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.ulCentre{
    margin-top: 0px;
    padding-left: 0px;
    list-style-position: inside;
}